BookDropMachineClient/src/META-INF/wsdl/localhost_8080/BookDropWebService/BookDropWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="BookDropWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/BookDropWebService/BookDropWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/BookDropWebService/BookDropWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="doExtendBook">
<part name="parameters" element="tns:doExtendBook"/>
</message>
<message name="doExtendBookResponse">
<part name="parameters" element="tns:doExtendBookResponse"/>
</message>
<message name="LendingNotFoundException">
<part name="fault" element="tns:LendingNotFoundException"/>
</message>
<message name="BookHasBeenReservedException">
<part name="fault" element="tns:BookHasBeenReservedException"/>
</message>
<message name="MemberHasFinesException">
<part name="fault" element="tns:MemberHasFinesException"/>
</message>
<message name="BookIsAlreadyOverdueException">
<part name="fault" element="tns:BookIsAlreadyOverdueException"/>
</message>
<message name="doReserveBook">
<part name="parameters" element="tns:doReserveBook"/>
</message>
<message name="doReserveBookResponse">
<part name="parameters" element="tns:doReserveBookResponse"/>
</message>
<message name="BookIsAlreadyLoanedByMemberException">
<part name="fault" element="tns:BookIsAlreadyLoanedByMemberException"/>
</message>
<message name="BookIsAvailableForLoanException">
<part name="fault" element="tns:BookIsAvailableForLoanException"/>
</message>
<message name="MultipleReservationException">
<part name="fault" element="tns:MultipleReservationException"/>
</message>
<message name="BookNotFoundException">
<part name="fault" element="tns:BookNotFoundException"/>
</message>
<message name="memberLogin">
<part name="parameters" element="tns:memberLogin"/>
</message>
<message name="memberLoginResponse">
<part name="parameters" element="tns:memberLoginResponse"/>
</message>
<message name="InvalidLoginException">
<part name="fault" element="tns:InvalidLoginException"/>
</message>
<message name="doReturnBook">
<part name="parameters" element="tns:doReturnBook"/>
</message>
<message name="doReturnBookResponse">
<part name="parameters" element="tns:doReturnBookResponse"/>
</message>
<message name="MemberNotFoundException">
<part name="fault" element="tns:MemberNotFoundException"/>
</message>
<message name="setHasPaidTrue">
<part name="parameters" element="tns:setHasPaidTrue"/>
</message>
<message name="setHasPaidTrueResponse">
<part name="parameters" element="tns:setHasPaidTrueResponse"/>
</message>
<message name="FineNotFoundException">
<part name="fault" element="tns:FineNotFoundException"/>
</message>
<message name="persist">
<part name="parameters" element="tns:persist"/>
</message>
<message name="persistResponse">
<part name="parameters" element="tns:persistResponse"/>
</message>
<message name="retrieveFineByFineId">
<part name="parameters" element="tns:retrieveFineByFineId"/>
</message>
<message name="retrieveFineByFineIdResponse">
<part name="parameters" element="tns:retrieveFineByFineIdResponse"/>
</message>
<message name="retrieveBooksLoanedByMember">
<part name="parameters" element="tns:retrieveBooksLoanedByMember"/>
</message>
<message name="retrieveBooksLoanedByMemberResponse">
<part name="parameters" element="tns:retrieveBooksLoanedByMemberResponse"/>
</message>
<message name="searchBookToReserve">
<part name="parameters" element="tns:searchBookToReserve"/>
</message>
<message name="searchBookToReserveResponse">
<part name="parameters" element="tns:searchBookToReserveResponse"/>
</message>
<message name="retrieveFinesByMember">
<part name="parameters" element="tns:retrieveFinesByMember"/>
</message>
<message name="retrieveFinesByMemberResponse">
<part name="parameters" element="tns:retrieveFinesByMemberResponse"/>
</message>
<message name="retrieveMemberByIdentityNumber">
<part name="parameters" element="tns:retrieveMemberByIdentityNumber"/>
</message>
<message name="retrieveMemberByIdentityNumberResponse">
<part name="parameters" element="tns:retrieveMemberByIdentityNumberResponse"/>
</message>
<portType name="BookDropWebService">
<operation name="doExtendBook">
<input wsam:Action="http://ws.session.ejb/BookDropWebService/doExtendBookRequest" message="tns:doExtendBook"/>
<output wsam:Action="http://ws.session.ejb/BookDropWebService/doExtendBookResponse" message="tns:doExtendBookResponse"/>
<fault message="tns:LendingNotFoundException" name="LendingNotFoundException" wsam:Action="http://ws.session.ejb/BookDropWebService/doExtendBook/Fault/LendingNotFoundException"/>
<fault message="tns:BookHasBeenReservedException" name="BookHasBeenReservedException" wsam:Action="http://ws.session.ejb/BookDropWebService/doExtendBook/Fault/BookHasBeenReservedException"/>
<fault message="tns:MemberHasFinesException" name="MemberHasFinesException" wsam:Action="http://ws.session.ejb/BookDropWebService/doExtendBook/Fault/MemberHasFinesException"/>
<fault message="tns:BookIsAlreadyOverdueException" name="BookIsAlreadyOverdueException" wsam:Action="http://ws.session.ejb/BookDropWebService/doExtendBook/Fault/BookIsAlreadyOverdueException"/>
</operation>
<operation name="doReserveBook">
<input wsam:Action="http://ws.session.ejb/BookDropWebService/doReserveBookRequest" message="tns:doReserveBook"/>
<output wsam:Action="http://ws.session.ejb/BookDropWebService/doReserveBookResponse" message="tns:doReserveBookResponse"/>
<fault message="tns:BookIsAlreadyLoanedByMemberException" name="BookIsAlreadyLoanedByMemberException" wsam:Action="http://ws.session.ejb/BookDropWebService/doReserveBook/Fault/BookIsAlreadyLoanedByMemberException"/>
<fault message="tns:BookIsAvailableForLoanException" name="BookIsAvailableForLoanException" wsam:Action="http://ws.session.ejb/BookDropWebService/doReserveBook/Fault/BookIsAvailableForLoanException"/>
<fault message="tns:MultipleReservationException" name="MultipleReservationException" wsam:Action="http://ws.session.ejb/BookDropWebService/doReserveBook/Fault/MultipleReservationException"/>
<fault message="tns:MemberHasFinesException" name="MemberHasFinesException" wsam:Action="http://ws.session.ejb/BookDropWebService/doReserveBook/Fault/MemberHasFinesException"/>
<fault message="tns:BookNotFoundException" name="BookNotFoundException" wsam:Action="http://ws.session.ejb/BookDropWebService/doReserveBook/Fault/BookNotFoundException"/>
</operation>
<operation name="memberLogin">
<input wsam:Action="http://ws.session.ejb/BookDropWebService/memberLoginRequest" message="tns:memberLogin"/>
<output wsam:Action="http://ws.session.ejb/BookDropWebService/memberLoginResponse" message="tns:memberLoginResponse"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/BookDropWebService/memberLogin/Fault/InvalidLoginException"/>
</operation>
<operation name="doReturnBook">
<input wsam:Action="http://ws.session.ejb/BookDropWebService/doReturnBookRequest" message="tns:doReturnBook"/>
<output wsam:Action="http://ws.session.ejb/BookDropWebService/doReturnBookResponse" message="tns:doReturnBookResponse"/>
<fault message="tns:LendingNotFoundException" name="LendingNotFoundException" wsam:Action="http://ws.session.ejb/BookDropWebService/doReturnBook/Fault/LendingNotFoundException"/>
<fault message="tns:MemberNotFoundException" name="MemberNotFoundException" wsam:Action="http://ws.session.ejb/BookDropWebService/doReturnBook/Fault/MemberNotFoundException"/>
</operation>
<operation name="setHasPaidTrue">
<input wsam:Action="http://ws.session.ejb/BookDropWebService/setHasPaidTrueRequest" message="tns:setHasPaidTrue"/>
<output wsam:Action="http://ws.session.ejb/BookDropWebService/setHasPaidTrueResponse" message="tns:setHasPaidTrueResponse"/>
<fault message="tns:FineNotFoundException" name="FineNotFoundException" wsam:Action="http://ws.session.ejb/BookDropWebService/setHasPaidTrue/Fault/FineNotFoundException"/>
</operation>
<operation name="persist">
<input wsam:Action="http://ws.session.ejb/BookDropWebService/persistRequest" message="tns:persist"/>
<output wsam:Action="http://ws.session.ejb/BookDropWebService/persistResponse" message="tns:persistResponse"/>
</operation>
<operation name="retrieveFineByFineId">
<input wsam:Action="http://ws.session.ejb/BookDropWebService/retrieveFineByFineIdRequest" message="tns:retrieveFineByFineId"/>
<output wsam:Action="http://ws.session.ejb/BookDropWebService/retrieveFineByFineIdResponse" message="tns:retrieveFineByFineIdResponse"/>
<fault message="tns:FineNotFoundException" name="FineNotFoundException" wsam:Action="http://ws.session.ejb/BookDropWebService/retrieveFineByFineId/Fault/FineNotFoundException"/>
</operation>
<operation name="retrieveBooksLoanedByMember">
<input wsam:Action="http://ws.session.ejb/BookDropWebService/retrieveBooksLoanedByMemberRequest" message="tns:retrieveBooksLoanedByMember"/>
<output wsam:Action="http://ws.session.ejb/BookDropWebService/retrieveBooksLoanedByMemberResponse" message="tns:retrieveBooksLoanedByMemberResponse"/>
</operation>
<operation name="searchBookToReserve">
<input wsam:Action="http://ws.session.ejb/BookDropWebService/searchBookToReserveRequest" message="tns:searchBookToReserve"/>
<output wsam:Action="http://ws.session.ejb/BookDropWebService/searchBookToReserveResponse" message="tns:searchBookToReserveResponse"/>
</operation>
<operation name="retrieveFinesByMember">
<input wsam:Action="http://ws.session.ejb/BookDropWebService/retrieveFinesByMemberRequest" message="tns:retrieveFinesByMember"/>
<output wsam:Action="http://ws.session.ejb/BookDropWebService/retrieveFinesByMemberResponse" message="tns:retrieveFinesByMemberResponse"/>
</operation>
<operation name="retrieveMemberByIdentityNumber">
<input wsam:Action="http://ws.session.ejb/BookDropWebService/retrieveMemberByIdentityNumberRequest" message="tns:retrieveMemberByIdentityNumber"/>
<output wsam:Action="http://ws.session.ejb/BookDropWebService/retrieveMemberByIdentityNumberResponse" message="tns:retrieveMemberByIdentityNumberResponse"/>
<fault message="tns:MemberNotFoundException" name="MemberNotFoundException" wsam:Action="http://ws.session.ejb/BookDropWebService/retrieveMemberByIdentityNumber/Fault/MemberNotFoundException"/>
</operation>
</portType>
<binding name="BookDropWebServicePortBinding" type="tns:BookDropWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="doExtendBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LendingNotFoundException">
<soap:fault name="LendingNotFoundException" use="literal"/>
</fault>
<fault name="BookHasBeenReservedException">
<soap:fault name="BookHasBeenReservedException" use="literal"/>
</fault>
<fault name="MemberHasFinesException">
<soap:fault name="MemberHasFinesException" use="literal"/>
</fault>
<fault name="BookIsAlreadyOverdueException">
<soap:fault name="BookIsAlreadyOverdueException" use="literal"/>
</fault>
</operation>
<operation name="doReserveBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BookIsAlreadyLoanedByMemberException">
<soap:fault name="BookIsAlreadyLoanedByMemberException" use="literal"/>
</fault>
<fault name="BookIsAvailableForLoanException">
<soap:fault name="BookIsAvailableForLoanException" use="literal"/>
</fault>
<fault name="MultipleReservationException">
<soap:fault name="MultipleReservationException" use="literal"/>
</fault>
<fault name="MemberHasFinesException">
<soap:fault name="MemberHasFinesException" use="literal"/>
</fault>
<fault name="BookNotFoundException">
<soap:fault name="BookNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="memberLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
</operation>
<operation name="doReturnBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LendingNotFoundException">
<soap:fault name="LendingNotFoundException" use="literal"/>
</fault>
<fault name="MemberNotFoundException">
<soap:fault name="MemberNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="setHasPaidTrue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FineNotFoundException">
<soap:fault name="FineNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="persist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveFineByFineId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FineNotFoundException">
<soap:fault name="FineNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveBooksLoanedByMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchBookToReserve">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveFinesByMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveMemberByIdentityNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MemberNotFoundException">
<soap:fault name="MemberNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BookDropWebService">
<port name="BookDropWebServicePort" binding="tns:BookDropWebServicePortBinding">
<soap:address location="http://localhost:8080/BookDropWebService/BookDropWebService"/>
</port>
</service>
</definitions>